@use 'variaveis';

.easytodo{
    background-color: variaveis.$btnCreate;
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 70%;
    }
    &__content{
        color: variaveis.$secTextColor;
        font-size: 1.2em;
        text-align: center;
        padding:  0 15px;
        width: 60%;
        height: 250px;
        h2,p{
            margin: 20px 0 10px;
        }
        button{
            width: 100%;
            padding: 8.5px 20px;
            background-color: variaveis.$secTextColor;
            color: variaveis.$btnCreate;
            border: none;
            font-weight: bold;
            font-size: 1em;
            border-radius: 5px;
        }
    }
}