@use 'header';
@use 'reset';
@use 'variaveis';
@use 'createown';
@use 'easytodo';
@use 'history';
@use 'advantages';


.container{
    width: 100vw;
    margin: 0 auto;
    padding: 0 15px;
    @media (min-width: 768px){
        width: 750px;
    }
    @media (min-width: 992px){
        width: 970px;
    }
    @media (min-width: 1200px){
        width: 1170px;
    }
    @media (min-width: 1920px){
        width: 1890px;
    }

}